/* globals.css */
@import "tailwindcss";

:root {
  /* Colors */
  --primary: #6D28D9;
  --secondary: #302451;
  --accent: #C4B5FD;
  --rings: #c3b3ff;

  --background: #ffffff;
  --section-bg: #F0EFEF;

  --heading: #302451;
  --paragraph: #7D7D7D;
  --text-muted: #3D3D3D;
  --background-purple: #D9CFFF;

  /* Fonts */
  --font-body: 'Inter', sans-serif;
}

* {
  font-family: var(--font-body);
}

body {
  background: black;
  color: var(--text-muted);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6, p, span, a, button, input, textarea, label, li {
  font-family: var(--font-body);
}

/* Add temporarily to see if something is blocking */
nav, nav * {
  pointer-events: auto !important;
  z-index: 9999 !important;
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 1.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 1.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 3.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fade-up-slow {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up-slow {
  animation: fade-up-slow 3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}