@import "tailwindcss";

:root {
  /* Colors */
  --primary: #6D28D9;
  --secondary: #302451;
  --accent: #C4B5FD;

  --background: #ffffff;
  --section-bg: #F0EFEF;

  --heading: #302451;
  --paragraph: #7D7D7D;
  --text-muted: #3D3D3D;

  /* Fonts */
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

body {
  background: var(--background);
  color: var(--text-muted);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
