/* globals.css */
@import "tailwindcss";

:root {
  /* Colors */
  --primary: #6D28D9;
  --secondary: #302451;
  --accent: #C4B5FD;
  --rings: #c3b3ff;

  --background: #ffffff;
  --section-bg: #F0EFEF;

  --heading: #302451;
  --paragraph: #7D7D7D;
  --text-muted: #3D3D3D;
  --background-purple: #D9CFFF;

  /* Fonts */
  --font-body: 'Inter', sans-serif;
}

* {
  font-family: var(--font-body);
}

body {
  background: black;
  color: var(--text-muted);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6, p, span, a, button, input, textarea, label, li {
  font-family: var(--font-body);
}